/* NavBar.css
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #5e5a5a7c;
  box-shadow: 0 5px 3px rgba(22, 22, 22, 0.377);
}

.navbar .logo {
  order: 1;
}

.navbar .navbar-icon {
  order: 0;
}

.navbar nav {
  order: 2;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: center;
  }

  .navbar .logo {
    order: 1;
  }

  .navbar .navbar-icon {
    order: 0;
    position: absolute;
    left: 10px;
  }

  .navbar nav {
    order: 2;
  }
}

@media (min-width: 769px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar .logo {
    order: 1;
  }

  .navbar .navbar-icon {
    display:none ;
  }

  .navbar nav {
    order: 2;
    align-items:right;
  }
}

.navbar .logo img {
  height: 80px;
}

.navbar nav ul li a.active {
  color: rgb(11, 14, 218);
}

.navbar nav ul {
  list-style:inherit;
  display: flex;
  gap: 10px;
}

.navbar nav ul li a {
  text-decoration: solid;
  color: white;
}

.navbar .icon img {
  height: 50%;
} */