.template-form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
};

form {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  flex-grow: 1;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
};

.submit {
  border: none; /* Remove border */
  color: white; /* White text color */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block;
  font-size: 16px;
}

.back,
.next {
  height: 40px;
  width: 100px;
  color: white;
  background-color: gray;
  margin-right: 10px;
  border: none;
  text-align: center;
  margin: 4px 2px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
}

.back:not(:last-child),
.next:not(:last-child) {
  margin-right: 10px;
}