.template1-container {
    font-family: Arial, sans-serif;
    display: flex;
    width: 210mm;
    height: 100vh;
}

.template1-sidebar {
    display: flex;
    flex-direction: column;
    width: 40%;
    background: #f0f0f0;
    padding: 10px;
    height: 100vh;
    margin: 5px;
    font-family: 'Arial';
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.template1-skills {
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-align: left;
}

.template1-sidebar .AVatar {
    display: flex;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: white;
    background-color: #3f51b5;
    align-self: center;
    font-size: 35px;
}

.template1-sidebar .photo {
    display: flex;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: white;
    align-self: center;
}

.main-content {
    width: 60%;
    margin: 2vh;
    
}

.main-content h2 {
    color: #333;
    font-family: 'Times New Roman';
}

.main-content p {
    color: #666;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-right: 5%;
}

.main-content hr {
    border: 0;
    border-top: 1px solid #f0f0f0;
}

.orgName {
    color: blue;
    font-size: 18px;
    text-transform: uppercase;
}

.jobTitle {
    color: red;
    font-size: 20px;
    font-family: 'Book Antiqua';
    text-transform: uppercase;
}

.startYear, .endYear {
    color: purple;
    font-size: 16px;
    font-family: 'Book Antiqua';
    text-transform: uppercase;
}